body {
	padding: 20px;
}

.tile {
	display: inline-block;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	position: relative;
}

.trans {
	position: absolute;
	top: 0;
	left: 0;
	height: 32px;
	width: 32px;
}

.highlight {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 32px;
	width: 32px;
	opacity: 0.4;
}

.minimapTile {
	height: 8px;
	width: 8px;
	border: none;
}

.tileImage {
	width: 32px;
	height: 32px;
}

.tileset {
	border: 1px solid black;
	margin: 20px;
	padding: 15px;
	display: inline-block;
}

.tileset:hover {
	border: 2px solid green;
	margin: 19px;
}

.nav {
	margin-bottom: 20px;
}

#minimap {
	background: black;
}

#border {
	width: 128px;
	height: 80px;
	position: absolute;
	border: 1px solid black;
	pointer-events: none;
}

.tileRow {
	display: block;
	margin: auto;
}

#editor {
	margin: 10px;
	width: 800px;
	height: 600px;
	border: 1px solid black;
	resize: both;
	overflow: auto;
}

#editWorld {
	width: 546px;
	height: 360px;
	overflow: hidden;
}

#menu {
	padding: 10px;
	margin-bottom: 25px;
	border: 1px solid black;
}

#editPanes {
	background-color: aliceblue;
	border: 1px solid black;
	height: 400px;
	overflow: hidden;
}

#editWorld {
	background-color: red;
	border: 1px solid black;
}

#selectTiles {
	user-select: none;
	-o-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;

	overflow: hidden;
}



#mover {
	width: 14px;
	height: 100%;
	display: inline-block;
}

#moverBar {
	margin: auto;
	width: 6px;
	height: 100%;
	background:navy;
	cursor:e-resize;
}




#map {

}

#viewportBox {
	display: inline-block;
	vertical-align: top;
}

#selectionBox {
	display: inline-block;
	vertical-align: top;
	overflow: auto;
}



.pure-skin-mine .pure-button-small {
    font-size: 85%;
}